<% include header %>

<!--    PAGE HEADER START-->
<% include page-header %>
<!--    PAGE HEADER ENDS -->

<!--    PAGE BODY STARTS -->
<div class="page-body-wrapper sidebar-icon">

    <% include main-nav %>

    <div class="page-body">
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Salons</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item">Admin</li>
                            <li class="breadcrumb-item active">Salons</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid user-card">
            <div class="row">

<!--                Display all salons -->

                <%if(success != ''){%>

                    <div class="alert alert-success dark" role="alert">
                        <p><%= success%></p>
                    </div>
                    <div class="form-group col-xl-12">
                        <label><span class="alert-success"></span></label>
                    </div>

                <%}%>

                <%if(errors != ''){%>
                <div class="alert alert-secondary dark" role="alert">
                    <%errors.forEach(function(error){%>
                        <p><%= error.msg%></p>
                    <%})%>
                </div>
                <%}%>

                <%salons.forEach(function(salon){%>
                    <div class="col-md-6 col-lg-6 col-xl-4 box-col-6">
                        <div class="card custom-card">
                            <% if(salon.image){%>
                                <div class="card-header p-0"><img class="img-fluid" src="/images/salons/<%= salon.image %>" alt=""></div>
                            <%}else{%>
                                    <div class="card-header p-0"><img class="img-fluid" src="../admin/images/user-card/1.jpg" alt=""></div>
                                <%}%>


                            <div class="text-center profile-details"><a href="/admin/salon/<%= salon.id %>">
                                    <h4><%= salon.name %></h4></a>
                                <h6><%= salon.address %></h6>
                            </div>
<!--                            <div class="card-footer row">-->
<!--                                <div class="col-4 col-sm-4">-->
<!--                                    <h6>Follower</h6>-->
<!--                                    <h3 class="counter">9564</h3>-->
<!--                                </div>-->
<!--                                <div class="col-4 col-sm-4">-->
<!--                                    <h6>Following</h6>-->
<!--                                    <h3><span class="counter">49</span>K</h3>-->
<!--                                </div>-->
<!--                                <div class="col-4 col-sm-4">-->
<!--                                    <h6>Total Post</h6>-->
<!--                                    <h3><span class="counter">96</span>M</h3>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                <%})%>





            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>

</div>
<!--     PAGE BODY ENDS -->

<% include footer %>